body {
    font-family:Arial, Helvetica, sans-serif;
}

.header  {
    background: #1f2937;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.logo {
    font-size: 18x;
    color: #f9faf8;
  }
  

  ul {
    list-style-type: none;
    color: #f9faf8;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 8px;
  }

  a {
    font-size: 12px;
    color: #f9faf8;
    display: flex;
    text-decoration: none;
  }

  .introduction {
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: #f9faf8;
      background: #1f2937;
      padding-bottom: 70px;
      padding-top: 50px;
  }

  .intro__left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 200px;
      padding-left: 110px;
     
    
  }

  .intro__right {
      display: flex;
      align-items: flex-end;
      padding-right: 110px;
      
  }

  .awesome {
      font-size: 24px;
      font-weight: bold;
      
  }

  .sub__awesome {
      font-size: 10px;
      margin-bottom: 5px;
  }

  .button {
      display: flex;
      background-color: #3882f6;
      border: none;
      border-radius: 5px;
      color: white;
  }

  img {
      width: 120px;
      height: auto;
      border-radius: 15px;
  }

  .intro__image {
      width: 300px;
      height: 125px;
  }

  .main__container__cards {
      display: flex;
      flex-direction: column;
      margin: 50px;
      justify-content: space-around;
      align-items: center;
  }

  .title {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 32px;
    color: #1f2937;
  }

  .container__item {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    max-width: 120px;
    gap: 50px;
  }

  .item {
      font-size: 12px;
  }

  .quote__section {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: #e5e7eb;
      padding: 100px;
      flex-direction: column;
     
  }

  .quote {
      max-width: 700px;
      font-family: 'Roboto Condensed', sans-serif;
      font-style: italic;
      font-size: 36px;

    
  }

  .famous {
      display: flex;
   
  }

  .modal {
      background: #3882f6;
      color: white;
      display: flex;
      margin: 100px;
      padding: 50px;
      border-radius: 10px;
      justify-content: space-around;
    
  }
  
  .action__text {
      font-size: 12px;
  }

  .action {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      
  }

  .action__button {
      display: flex;
      justify-content: center;
      align-items: center;
    
  }

  .sign__up {
    background-color: #3882f6;
    border-radius: 5px;
    border: 1px white solid;
    color: white;
  }


  .footer {
    background: #1f2937;
    padding: 12px;
    text-align: center;
    color: white;
    font-size: 12px;
  }

